# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

.vscode/
/.settings/
/.project
/.buildpath

# System Files
.git
.gitattributes
.DS_Store

# Temp files
_*

#Projeto FormDin5 com Adianti
.htaccess
composer.json
composer.lock
cmd.php
crontab.php
download.php
engine.php
index.php
init.php
install.html
install.php
manifest.json
menu-dist.xml
menu-mobile.xml
menu-navbar-dropdown.xml
menu-public-dist.xml
menu-public-mobile.xml
menu-public.xml
mobile.php
rest.php
rest.php.dist
soap.php.dist
rest-secure.php.dist
top_menu.xml



LICENSE
app/config/sample.ini
app/config/sample.php
app/config/communication.ini
app/config/communication.php
app/config/framework_hashes.php
app/config/install.ini
app/config/installed.ini
app/config/ldap.ini
app/config/log.ini
app/config/log.php
app/config/permission.ini
app/config/permission.php
app/config/unit_a.ini
app/config/unit_b.ini
app/config/unit_database.php

app/control/admin/**
!app/control/admin/LoginForm.class.php
!app/control/admin/SystemPasswordResetForm.class.php
!app/control/admin/SystemProfileForm.class.php
!app/control/admin/SystemRegistrationForm.class.php
!app/control/admin/SystemUserForm.class.php
!app/control/admin/SystemUserList.class.php
app/control/builder
app/control/communication
app/control/install
app/control/log
app/control/public
app/control/start
app/control/CommonPage.class.php
app/control/MessageList.class.php
app/control/NotificationList.class.php
app/control/SearchBox.class.php
app/control/SearchInputBox.class.php
app/control/WelcomeView.class.php

app/database/communication.db
app/database/communication.sql
app/database/communication-update.sql
app/database/log-update.sql
app/database/log.db
app/database/log.sql
app/database/permission-update.sql
app/database/permission.asta
app/database/permission.db
app/database/permission.sql
app/database/permission.xml
app/database/unit_a.db
app/database/unit_b.db

app/images/adianti.png
app/images/builder.png
app/images/ico_wellcome.png
app/images/icon.png
app/images/studio.png
app/images/template3.png
app/images/template4.png
app/images/ponto/**
app/images/sgp/**
app/images/photos/admin.jpg
app/images/photos/user.jpg


app/lib/barcode
app/lib/html
app/lib/include
app/lib/pdf
app/lib/reports
app/lib/util
app/lib/validator
app/lib/widget
!app/lib/menu/AdiantiMenuBuilder.php

app/model/admin/**
app/model/communication
app/model/log

app/output/
app/reports/
app/resources/
app/service/TestService.php
app/service/auth/
app/service/builder/
app/service/cli/
app/service/log/
app/service/rest/
app/service/system/

app/templates/theme-builder/
app/templates/theme3/
app/templates/theme3_v5/
app/templates/theme3-adminlte3/
app/templates/theme4/
app/templates/theme4_v5/
app/templates/theme_formdinv/
app/templates/mpdft_material/

app/templates/README.md
app/templates/documentacao

files/
lib/
tmp/
vendor/
rest/



